html{
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1, p{
    color: rgb(3, 0, 0);
    font-size: 2.5em;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.837);
}